@font-face {
    font-family: 'BBB';
    src : url('../Fonts/bbb-sprat-main/BBBSprat-ExtendedRegular.woff2');
}

.ordi{
    display: block;
}

.handy{
    display: none;
}

body {
    background-color: #FBFCFA;
    font-family: 'BBB';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 2em;
    margin-bottom: 0;
}

p {
    font-size: 0.55em;
    text-align: left;
    color: #BDBDBD;
}

.gallery {
    margin-top: 10em;
    column-count: 3;
    column-gap: 2vw;
    max-width: 85%;
}

.gallery img {
    width: 100%;
    margin-bottom: 2vw;
    border-radius: 0.5em;
}


.gallery img:hover {
    transform: scale(1.05);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 0.5rem;
}

.lightbox.show {
    opacity: 1;
    visibility: visible;
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}



@media (max-width: 768px) {

    body {
        display: flex;
    }

    .ordi{
        display: none;
    }

    .handy{
        display: block;
    }

    h1 {
        font-size: 1em;
    }

    p {
        padding: 0.5em;
    }

    .gallery {
        margin-top: 2em;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .gallery img{
        width: 70%;
    }

}
