@font-face {
    font-family: 'BBB';
    src : url('../Fonts/bbb-sprat-main/BBBSprat-ExtendedRegular.woff2');
}

body {
    background-color: #FBFCFA;
    font-family: 'BBB';
    display: flex;
    margin: 0;
}

h1 {
    margin-left: 1em;
    font-size: 2em;
    text-align: left;
}

p {
    font-size: 0.5em;
    text-align: center;
    color: #BDBDBD;
}

.grid {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 100%;
    gap: 3em;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.grid-item img {
    width: 300px;
}

.grid-item h1 {
    margin-left: 2em;
    text-align: left;
}

.grid-item:nth-child(1) {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
}

.grid-item:nth-child(2) {
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

.grid-item:nth-child(3) {
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

.grid-item:nth-child(4) {
    margin-top: 2em;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
}
.grid-item:nth-child(5) {
    align-items: center;
    grid-column: 2;
    grid-row: 3;
}

.grid-item:nth-child(6) {
    margin-top: 2em;
    align-items: center;
    grid-column: 1;
    grid-row: 4;
}
.grid-item:nth-child(7) {
    align-items: center;
    grid-column: 2;
    grid-row: 4;
}


@media (max-width: 768px) {

    h1 {
        margin-left: 0.5em;
        font-size: 2em;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item:nth-child(1) {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
}

.grid-item:nth-child(2) {
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

.grid-item:nth-child(3) {
    align-items: center;
    grid-column: 1;
    grid-row: 3;
}

.grid-item:nth-child(4) {
    margin-top: 2em;
    align-items: center;
    grid-column: 1;
    grid-row: 4;
}
.grid-item:nth-child(5) {
    align-items: center;
    grid-column: 1;
    grid-row: 5;
}

.grid-item:nth-child(6) {
    margin-top: 2em;
    align-items: center;
    grid-column: 1;
    grid-row: 6;
}
.grid-item:nth-child(7) {
    align-items: center;
    grid-column: 1;
    grid-row: 7;
}
}
