@font-face {
    font-family: 'BBB';
    src : url('../Fonts/bbb-sprat-main/BBBSprat-ExtendedRegular.woff2');
}

body {
    background-color: #FBFCFA;
    font-family: 'BBB';
    display: flex;
    margin: 0;
}

h1 {
    margin-left: 1em;
    font-size: 2.5em;
}

p {
    text-align: center;
}

.img1{
    position: absolute;
    top: 4%;
    right: 4%;
}

.img2{
    position: absolute;
    bottom: 45%;
    left: 52%;
}

.img3{
    position: absolute;
    top: 45%;
    right: 52%;
}

.img4{
    position: absolute;
    bottom: 4%;
    left: 4%;
}

@media (max-width: 768px) {
    h1 {
        margin-left: 0.5em;
        font-size: 2em;
    }

    .img1{
        position: absolute;
        top: 10%;
        right: 7%;
    }

    .img2{
        position: absolute;
        bottom: 40%;
        left: 7%;
    }

    .img3{
        position: absolute;
        top: 60%;
        right: 7%;
    }

    .img4{
        position: absolute;
        bottom: -10%;
        left: 7%;
    }

}